-
  var footerLinks = [
    {
      href: "#about",
      text: "О нас",
    },
    {
      href: "#projects",
      text: "Наши проекты",
    },
  ]
footer.footer
  .footer__wrapper.container.d-flex.h-between
    a.footer__home(href="#") 
      img.footer__logo(src="../../../../assets/logo.svg", alt="footer_logo")
    ul.footer__nav-links.d-flex.h-between
      each link in footerLinks
        li.footer__nav-item.d-flex
          a.header__nav-link(href=link.href).no-underline=link.text
    