extends ../include/layout/page.pug

block content
    include ../include/blocks/promo/promo.pug
    include ../include/blocks/about/about.pug
    include ../include/blocks/projects/projects.pug
    include ../include/blocks/contacts/contacts.pug
