$pfx: "about";

.#{$pfx}{
  position: relative;
  margin-bottom: 170px;
  overflow-x: clip;
  @media (max-width: 420px){
    margin-bottom: 80px;
  }
  z-index: 5;
  &__wrapper{
    position: relative;
    z-index: 5;
    padding: 196px 88px;
    border-radius: 52px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 1px 40px 0px rgba(226, 226, 226, 0.20) inset, 0px 4px 16px 0px rgba(233, 233, 233, 0.20) inset;
    background-color: #000;
    @media (max-width: 992px){
      padding: 130px 88px;
    }
    @media (max-width: 600px){
      padding: 70px 44px;
      border-radius: 24px;
    }
    @media (max-width: 420px){
      padding: 38px 22px;
    }
  }
  &__title{
    position: relative;
    z-index: 5;
    font-family: $font-family-Press-Start;
    font-size: 40px;
    font-weight: 400;
    margin-bottom: 6px;
    @media (max-width: 992px){
      font-size: 32px;
    }
    @media (max-width: 600px){
      font-size: 24px;
    }@media (max-width: 420px){
      font-size: 16px;
    }
  }
  &__text{
    position: relative;
    z-index: 5;
    font-size: 16px;
    font-weight: 400;
    line-height: 154%;
    max-width: 740px;
    @media (max-width: 992px){
      font-size: 14px;
    }
    @media (max-width: 420px){
      font-size: 12px;
    }
  }
  &__img-1{
    position: absolute;
    right: -151px;
    top: 55px;
    z-index: 2;
    @media (max-width: 1200px) {
      width: 200px;
      right: -100px;
    }
    @media (max-width: 992px) {
      // width: 200px;
      right: -125px;
    }
    @media (max-width: 600px){
      width: 120px;
      right: -64px;
    }
    @media (max-width: 420px) {
      width: 40px;
      right: -18px;
      bottom: 50px;
      top: auto;
    }
  }
  &__img-2{
    position: absolute;
    right: 176px;
    top: 317px;
    z-index: 2;
    @media (max-width: 1200px) {
      display: none;
    }
  }
  &__img-3{
    position: absolute;
    right: 140px;
    bottom: -94px;
    z-index: 2;
    @media (max-width: 1200px) {
      width: 170px;
      bottom: -70px;
    }
    @media (max-width: 600px){
      width: 100px;
      bottom: -50px;
    }
    @media (max-width: 420px) {
      width: 47px;
      bottom: -20px;
      left: 20px;
    }
  }
  &__overlay{
    // display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 52px;
    @media (max-width: 600px){
      border-radius: 24px;
    }
  }
  &__overlay::after{
    content: "";
    border-radius: 50%;
    width: 900px;
    height: 900px;
    background: #89C7FF;
    bottom: -481px;
    right: -321px;
    filter: blur(103.5px);
    position: absolute;
    transform: rotate(313deg);
    // overflow: hidden;
    // background-color: #000; ///
    @media (max-width: 992px){
      width: 800px;
      height: 800px;
    }
    @media (max-width: 600px){
      width: 600px;
      height: 600px;
      bottom: -361px;
      right: -256px;
    }
    @media (max-width: 420px){
      opacity: 0.5;
      width: 450px;
      height: 450px;
      bottom: -95px;
      right: -167px;
    }
  }
  &__bg-img1{
    position: absolute;
    top: -61px;
    left: -3px;
    z-index: 1;
    opacity: 0.4;
  }
  &__bg-img2{
    position: absolute;
    bottom: -402px;
    left: -99px;
    z-index: 1;
    opacity: 0.4;
  }
  &__bg-img-blue{
    display: none; ///временно
    width: 880px;
    height: 880px;
    position: absolute;
    bottom: -402px;
    right: -345px;
    z-index: 1;
    opacity: 1;
  }
}