include ../../data/contacts-data.pug
  mixin contact-card(link,icon,text)
    article.contact-card
      a(href=link).contact-card__link
        img(src=icon, alt=icon).contact-card__icon
      span.contact-card__text=text