section.about#about
  .about__wrapper.container
    h2.about__title Frog Company
    p.about__text
      |Frog Company - это маленькая, но амбициозная студия по разработке мобильных приложений. Наша команда состоит из опытных и талантливых разработчиков, дизайнеров и менеджеров проектов, которые стремятся создавать качественные и инновационные приложения для мобильных устройств. <br><br>
      |Мы специализируемся на разработке уникальных и увлекательных игр, полезных инструментов и развлекательных приложений для различных платформ, включая iOS и Android. Нашей целью является создание приложений, которые не только доставляют радость и удовольствие пользователям, но и помогают им решать повседневные задачи, развиваться и находить новые возможности.<br><br>
      |Мы гордимся нашим творческим подходом к разработке. Каждый проект Frog Company - это результат внимательного исследования рынка, анализа трендов и предпочтений пользователей. Мы стремимся создавать уникальные и интуитивно понятные интерфейсы, а также заботимся о производительности и стабильности наших приложений.
    img.about__img-1(src="../../../../assets/about-list.png", alt="about-list")
    img.about__img-2(src="../../../../assets/about-tag.png", alt="about-tag")
    img.about__img-3(src="../../../../assets/about-settings.png", alt="about-settings")
    .about__overlay
  img.about__bg-img1(src="../../../../assets/bg-img1.png", alt="bg-img")
