-
  var contactsList = [
    {
      href: "https://vk.com/frog_company",
      text: "frog_company",
      icon: "../../../../assets/vk.svg",
    },
    {
      href: "mailto:frogcompany@mail.ru",
      text: "frogcompany@mail.ru",
      icon: "../../../../assets/gmail.svg",
    },
    {
      href: "https://t.me/frogcompany",
      text: "frogcompany",
      icon: "../../../../assets/telegram.svg",
    },
  ]