-
  var headerNavLinks = [
    {
      href: "#about",
      text: "О нас"
    },
    {
      href: "#projects",
      text: "Наши проекты"
    },
    {
      href: "#contacts",
      text: "Контакты"
    },
  ]