//- -
//-   var socialsLinks = [
//-     {
//-       href: "#",
//-       text: "@FrogCompany",
//-       src: "../../../../assets/vk.svg",
//-     },
//-     {
//-       href: "#",
//-       text: "@FrogCompany",
//-       src: "../../../../assets/gmail.svg",
//-     },
//-     {
//-       href: "#",
//-       text: "@FrogCompany",
//-       src: "../../../../assets/telegram.svg",
//-     },
//-   ]