$pfx: "projects";

.#{$pfx}{
  position: relative;
  align-items: center;
  margin-bottom: 171px;
  position: relative;
  &__wrapper{
    position: relative;
  }
  &__wrapper::after{
    content: "";
    width: 535px;
    height: 535px;
    background: #EAAEFF;
    border-radius: 50%;
    bottom: -139px;
    left: -223px;
    filter: blur(103.5px);
    position: absolute;
    z-index: 4;
  }
  &__title{
    font-size: 40px;
    font-weight: 700;
    text-shadow: 0px 0px 12px rgba(255, 255, 255, 0.61);
    text-align: center;
    margin-bottom: 45px;
    @media (max-width: 420px) {
      font-size: 20px;
    }
  }
  .swiper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 662px;
    top: 0;
    user-select: none;
    z-index: 5;
    @media (max-width: 420px) {
      height: 293px;
      top: -45px;
    }
  }
  .swiper-slide{
    max-width: 996px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content:center;
    transform: scale(1);
    // transition: 0.8s;
    top: -60px;
    // z-index: 3;
    img{
      width: 100%;
      border-radius: 30px;
      @media (max-width: 420px) {
        width: 260px;
        border-radius: 12px;
      }
    }
  }
  .swiper-slide:not(.swiper-slide-active) {
    position: relative;
    filter: blur(5.5px);
    transform: scale(0.9);
    z-index: 2;
  }
  .swiper-button-prev{
    left: calc(50% - 193px);
  }
  .swiper-button-next{
    right: calc(50% - 191px);
  }
  .swiper-button-prev,.swiper-button-next{
    // top: unset !important;
    top: 613px;
    bottom: -80px;
    position: absolute;
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 0 0 50px rgba(255, 255, 255, 1);
  }
  .swiper-button-prev::after,.swiper-button-next::after{
    color: #000;
    font-size: 18px;
    font-weight: 700;
  }
  .swiper-button-next::after{
    margin-left: 4px;
  }
  .swiper-button-prev::after{
    margin-right: 2px;
  }
}