section.projects#projects
  h2.projects__title Наши проекты
  .swiper
    .swiper-wrapper
      .swiper-slide
        img(src="../../../../assets/project-1.png", alt="")
      .swiper-slide
        img(src="../../../../assets/project-2.jpg", alt="")
      .swiper-slide
        img(src="../../../../assets/project-3.png", alt="")
      .swiper-slide
        img(src="../../../../assets/project-4.jpg", alt="")
      .swiper-slide
        img(src="../../../../assets/project-5.png", alt="")
      .swiper-slide
        img(src="../../../../assets/project-6.jpg", alt="")
      .swiper-slide
        img(src="../../../../assets/project-7.png", alt="")
    .swiper-button-prev
    .swiper-button-next