$pfx: "promo";

.#{$pfx}{
  margin-bottom: 56px;
  position: relative;
  z-index: 5;
  &__img-continer{
    position: relative;
    z-index: 4;
    max-width: 485px;
    width: 100%;
    // height: 100%;
    // width: auto;
    // width: 100%;
  }
  &__img-continer::before{
    content: "";
    z-index: 10;
    max-width: 485px;
    width: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    height: 30%;
    bottom: -3px;
  }
  .promo__img{
    width: 100%;
  }
  &__text{
    position: relative;
    z-index: 5;
    margin-top: 170px;
    margin-left: 120px;
  }
  &__title{
    letter-spacing: -3.1px;
    font-size: 48px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 7px;
    @media (max-width: 992px) {
      font-size: 36px;
    }
  }
  &__description{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 81px;
  }
  &__view{
    position: relative;
    z-index: 5;
    font-weight: 700;
    font-size: 20px;
    padding: 13px 56px;
    border-radius: 0px 10px;
    border: 2px solid #F3FBC0;
    margin-bottom: 88px;
    box-shadow:0 0 8px #F3FBC0;
  }
  &__view:hover{
    transition: 0.3s;
    background-color: #F3FBC0;
    color: #000;
  }
  &__socials{
    list-style: none;
    padding: 0;
  }
  &__social-item{
    margin-right: 29px;
  }
  &__social-item:last-child{
    margin-right: 0;
  }
  &__social-icon{
    transition: 0.3s;
    border-radius: 50%;
  }
  &__social-icon:hover{
    box-shadow: 0 0 45px rgba(255, 255, 255, 0.7);
  }
  &__bg-img1{
    position: absolute;
    top: -79px;
    z-index: 1;
    left: -275px;
    opacity: 0.4;
  }
  &__bg-img2{
    position: absolute;
    z-index: 1;
    top: -66px;
    right: 358px;
    opacity: 0.4;
  }
  &__bg-img3{
    position: absolute;
    z-index: 1;
    top: -229px;
    right: -107px;
  }
  &__bg-img4{
    position: absolute;
    z-index: 1;
    top: 188px;
    left: 410px;
  }
  &__bg-img5{
    position: absolute;
    z-index: 1;
    bottom: -169px;
    right: 39px;
    opacity: 0.3;
  }
}