$pfx: "promo";

.#{$pfx}{
  margin-bottom: 56px;
  &__img-continer{
    position: relative;
  }
  &__img-continer::before{
    content: "";
    z-index: 10;
    width: 100%;
    display: block;
    position: absolute;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    height: 30%;
    bottom: -3px;
  }
  &__text{
    margin-top: 170px;
    margin-left: 120px;
  }
  &__title{
    letter-spacing: -3.1px;
    font-size: 48px;
    font-weight: 900;
    line-height: 130%;
    margin-bottom: 7px;
  }
  &__description{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 81px;
  }
  &__view{
    font-weight: 700;
    font-size: 20px;
    padding: 13px 56px;
    border-radius: 0px 10px;
    border: 2px solid #F3FBC0;
    margin-bottom: 88px;
    box-shadow:0 0 8px #F3FBC0;
  }
  &__socials{
    list-style: none;
    padding: 0;
  }
  &__social-item{
    margin-right: 29px;
  }
  &__social-item:last-child{
    margin-right: 0;
  }
}