@font-face {
  font-family: 'Intro';
  src: local('Intro Regular'), local('Intro-Regular'),
  url("../fonts/Intro/Intro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: local('Intro Medium'), local('Intro-Medium'),
  url("../fonts/Intro/Intro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: local('Intro SemiBold'), local('Intro-SemiBold'),
  url("../fonts/Intro/Intro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: local('Intro Bold'), local('Intro-Bold'),
  url("../fonts/Intro/Intro-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Intro';
  src: local('Intro Black'), local('Intro-Black'),
  url("../fonts/Intro/Intro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Press Start';
  src: local('press-start-k'), local('press start k'),
  url("../fonts/Press Start/press-start-k.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}